
.flexRowContent--linha{
    background: #212121;
}

.flexRowContent--cart{
height:250px;

border: 1px solid #14ff00;
border-radius: 5px;
box-sizing: border-box;
margin-bottom: 10px;

}

.flexCol--spacer{
    
    background: #212121;
}




.flexCol--colRight{
    background: #303030;
    display: flex;
    height: 514px;
}
.flexCol--colLeft{
    padding: 10px;
    box-sizing: border-box;
}

.stretchChildrenWidth{
    background: #303030;
}